<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <!-- <link rel="icon" href="<%= BASE_URL %>src/favicon.ico"> -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- css reset -->
    <link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1" rel="stylesheet">

    <!-- swiper -->
    <link href="https://cdn.jsdelivr.net/npm/swiper@4.5.0/dist/css/swiper.min.css" rel="stylesheet">

    <!-- elementUI样式 -->
    <link href="<%= BASE_URL %>src/plugins/element-ui/2.4.9/custom/index.css" rel="stylesheet">
    
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    
    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <!-- jQuery-One-Page-Nav -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/davist11/jQuery-One-Page-Nav/jquery.nav.js"></script> -->

    <!-- lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@4.5.0"></script>

    <!-- 手势 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but magickrings doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
